# doxygen
html/
latex/

# source
*.so*
*.la
*.a
*.o
*.d

# junk
blah.txt
core
html.zip
priv.key
pub.key
.ycm_extra_conf.py
.ycm_extra_conf.pyc
*.orig
vgcore*
core
tags
src/priv*
src/pub*
testfiles/
install/
*.png
*.ods
*.pdf


# tmp files
*~
*.swp
*.swo

# currently masked
src/main.c
src/main

./.settings/org.eclipse*

.project
